@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');

body {
    font-family: "Gulzar", serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #222;
    font-size: 25px;
    overflow: hidden;
    position: relative;
    pointer-events: none;
}

.content {
    overflow: hidden;
}

span {
    pointer-events: none;
    position: absolute;
    width: 50px;
    height: 50px;
    animation: animate 5s linear;
    background: url('https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-512.png');
    background-size: cover;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100% {
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(520deg);
    }
}
